In [1]:
# Aanpassing van de configuratie van Jupyter Notebook
%config IPCompleter.greedy = True
%matplotlib inline

# Importeren van de benodigde bibliotheken
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Source pad van de dataset definiëren
orderData_source = 'Data/Knipidee-2024.csv'

# Dataset ophalen
orderData=pd.read_csv(orderData_source)

# Preview weergave van de eerste 5 rijen van de dataset
print('-----Preview van de dataset-----')
print(orderData.head())
print('-----Informatie over de dataset-----')
print(orderData.info())

-----Preview van de dataset-----
   order_number               order_date  customer_number    customer_email  \
0         30617  2024-06-21 11:54:57.688              921  sven@cyroline.de
1         30617  2024-06-21 11:54:57.688              921  sven@cyroline.de
2         30617  2024-06-21 11:54:57.688              921  sven@cyroline.de
3         30617  2024-06-21 11:54:57.688              921  sven@cyroline.de
4         30617  2024-06-21 11:54:57.688              921  sven@cyroline.de

      address_street address_zipcode address_city address_country_name  \
0  KRONSFORDER ALLEE           23560       Lübeck                   DE
1  KRONSFORDER ALLEE           23560       Lübeck                   DE
2  KRONSFORDER ALLEE           23560       Lübeck                   DE
3  KRONSFORDER ALLEE           23560       Lübeck                   DE
4  KRONSFORDER ALLEE           23560       Lübeck                   DE

                      product_name  product_quantity  product_quantity.1  \
0      0817 Cotton Knit Small Cord                 1                   1
1  0779 Corduroy 6W Washed Stretch                 2                   2
2  0779 Corduroy 6W Washed Stretch                 1                   1
3      20249 Paisley Flower Velvet                 3                   3
4         19551 Smogged Embroidery                 5                   5

   product_unit_price  product_total_price
0              343.75               343.75
1              260.00               520.00
2               78.00                78.00
3              247.50               742.50
4              237.50              1187.50
-----Informatie over de dataset-----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76201 entries, 0 to 76200
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_number          76201 non-null  int64
 1   order_date            76201 non-null  object
 2   customer_number       76201 non-null  int64
 3   customer_email        76201 non-null  object
 4   address_street        76201 non-null  object
 5   address_zipcode       76201 non-null  object
 6   address_city          76201 non-null  object
 7   address_country_name  76201 non-null  object
 8   product_name          76201 non-null  object
 9   product_quantity      76201 non-null  int64
 10  product_quantity.1    76201 non-null  int64
 11  product_unit_price    76201 non-null  float64
 12  product_total_price   76201 non-null  float64
dtypes: float64(2), int64(4), object(7)
memory usage: 7.6+ MB
None